$nico-default-bg: #252525;
$nico-point: #D1A437;
$nico-news: #ff8000;

$main-background-color: #1A1B1C;
$sub-background-color: #272727;
$sub2-background-color: #333333;

$hover-background-color: #555555;
$border-background-color: #555555;

$main-text-color: #FEFEFE;
$sub-1-text-color: #999;
$sub-2-text-color: #666;
$sub-3-text-color: #333;

$main-url-color: #0080FF;

$invert: invert(100%);
